.color_red {
  color: pink;
}

.color_purple {
  color: purple;
}
.fontBold {
  font-weight: bold;
}
.fontFamily {
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Charm', cursive;
  /* font-family: 'Indie Flower', cursive; */
}
.fontSubSize {
  font-size: 1.25rem;
}
.backgroundImg {
  background: url(./images/4.jpeg);
}
.carouselImg {
  border: 2px solid rgb(175, 115, 175);
  border-radius: 25px;
  display: inline-block;
  width: 500px;
  height: 600px;
  overflow: hidden;
}
.backgroundColor {
  background-color: blueviolet;
}
.carousalSlide {
  width: 500px;
}
.divRadius {
  border: 2px solid purple;
  /* width: 120px; */
  border-radius: 25px;
  background-color: plum;
  padding: 5px 5px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.liHover:hover {
  box-shadow: 5px 5px 2px plum;
  background-color: purple;
  color: plum;
}

.divNoRadius {
  border: 2px solid purple;
  background: plum;
  text-align: left;
  padding: 5px 5px;
  cursor: pointer;
}
.lihover:hover {
  text-align: center;
  box-shadow: 5px 5px 2px purple;
}
.imghover:hover {
  box-shadow: 5px 5px 2px purple;
}

@keyframes example {
  0% {
    right: 0px;
    top: 0px;
  }
  50% {
    right: 100px;
    top: 0px;
  }
  75% {
    right: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.animate {
  animation-name: example;
  animation-duration: 20s;
  animation-delay: -2s;
  text-align: center;
}

.boxImg {
  margin: 10px 10px;
  display: inline-block;
  width: 30%;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 10px 10px 5px gray;
}

.modalImg {
  width: 100%;
  border-radius: 25px;
}
.boxModal {
  text-align: center;
  margin: auto;
}
